aiogram==3.4.1
python-dotenv==1.0.1
pydantic==2.5.3
pydantic-settings==2.1.0
aiohttp==3.9.3
urllib3==1.26.17
aiofiles==23.2.1
yt-dlp==2024.03.10
fastapi==0.110.2
uvicorn==0.29.0
faststream==0.5.2
taskiq-redis==0.5.5
hishel==0.0.26
SQLAlchemy==2.0.29
loguru==0.7.2